.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
resources/**/*.gif
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/*/*.md
out/**/*.d.ts
out/**/*.js.map
out/*.d.ts
out/*.js.map
jest.config.js
